{% extends "layout.twig" %}

{% block content %}

<div class="bk-pt-default">

{{widget('extendednavigation', 'navigationheader', {})|raw}}

<header class="bk-header">
    <div class="wrapper clearfix">
        <div class="companyheader clearfix">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
            {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
        </div>
    </div><!--end wrapper clearfix-->
</header>

<section class="main wrapper clearfix">
	{{zone('main')|raw}}
</section>

<footer class="bk-footer">
    <div class="wrapper clearfix">
         {{widget('content', 'footercolumn1content', {"content":"<p>Lorem Ipsum Dolor</p>"})|raw}}
    </div>   
</footer>

</div>

{% endblock %}
