{% extends "layout.twig" %}

{% block content %}

<header>
    <div class="wrapper clearfix">
        <div class="companyheader clearfix">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
            {{widget('companyname', 'companyname', {"business": "Pizza Vicenza"})|raw}}
        </div>
            {{widget('menusections', 'menusections1', {})|raw}}
    </div><!--end wrapper clearfix-->
</header>

{{widget('menu', 'menu1', {})|raw}}
       

<footer>
    <div class="wrapper clearfix">
         {{widget('content', 'footercolumn1content', {"content":"<p>Lorem Ipsum Dolor</p>"})|raw}}
    </div>
    
</footer>

{% endblock %}
