
{% extends "layout.twig" %}

{% block content %}

{% if pages|length > 1 %}
{{widget('extendednavigation', 'navigationheader', {})|raw}}
{% endif %}
<header class="bk-header">
    <div class="wrapper clearfix">
        <div class="companyheader clearfix">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
            {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
        </div>
    </div><!--end wrapper clearfix-->
</header>

{{zone('main')|raw}}

<footer class="bk-footer">
    <div class="wrapper clearfix">
         {{widget('content', 'footercolumn1content', {"content":"<p>Lorem Ipsum Dolor</p>"})|raw}}
    </div>   
</footer>

{% endblock %}
